<footer class="w-100 d-md-flex flex-column flex-sm-row justify-content-sm-between p-4 bg-black bg-gradient">
    <div class="d-flex flex-column justify-content-center">
        <p class="m-0 text-white">✨Readopedia✨</p>
        <!-- Copyright information -->
        <p class="text-center m-0 text-white">&#169; 2023 Readopedia. All rights reserved.</p>
    </div>

    <div class="d-flex flex-column justify-content-center text-white">
        <p class="text-center m-0"> Contributors</p>

        <!-- Contributors with LinkedIn links -->
        <div class="contributor-bar bg-black">
            <a href="https://www.linkedin.com/in/shreedharv/" target="_blank" class="text-white contributor-link">Mr. Shreedhar V</a>
            <span class="separator"> | </span>
            <a href="https://www.linkedin.com/in/snehasarababy/" target="_blank" class="text-white contributor-link">Sneha Sara Baby</a>
            <span class="separator"> | </span>
            <a href="https://www.linkedin.com/in/sunisajimon/" target="_blank" class="text-white contributor-link">Suni Sajimon</a>
        </div>

    </div>
</footer>

<style>
    .contributor-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        padding: 10px;
        margin-top: 10px;
    }

    .contributor-link {
        text-decoration: none;
    }

    .separator {
        color: #fff;
        margin: 0 10px;
    }
</style>
